{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center">
		<h1>{{ titre }}</h1>
	</div>
	
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nom</th>
					
                    <th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for produit in produits %}
					<tr>
						<th scope="row">{{ produit.id }}</th>
						<td>{{ produit.nom }}</td>
						
                        <td><a class="btn btn-danger" href="{{ path('app_produit_delete',{'id':produit.id})}}">supprimer</a>
					     <a class="btn btn-danger" href="{{ path('app_produit_detail',{'id':produit.id})}}">detail</a></td>
                    </tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
